<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>165685118353-f5k16qpr87vimj7dtfs1ib05sgubs1t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165685118353-f5k16qpr87vimj7dtfs1ib05sgubs1t9</string>
	<key>API_KEY</key>
	<string>AIzaSyD9uE4PABojPKSdp1ClUCrjfF3QfXa19r8</string>
	<key>GCM_SENDER_ID</key>
	<string>165685118353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmetefeoglu.SurveyApp</string>
	<key>PROJECT_ID</key>
	<string>survey-app-ff000</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-app-ff000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165685118353:ios:32f77bce894d4bec</string>
	<key>DATABASE_URL</key>
	<string>https://survey-app-ff000.firebaseio.com</string>
</dict>
</plist>